/*Placeholder buttton not used anymore */
.grid-button {
    font: 100% Roboto, sans-serif;
    font-size: 8vw;
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #2196F3;
    border: none;
    color: white;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }

 /* This is to predefine zones in the grid to make swapping buttons around easier.*/ 
.zero{
  grid-area: zero;
}
.one{
grid-area: one;
  }
.two{
    grid-area: two;
  }
.three {
    grid-area: three;
  }
.four {
  grid-area: four;
}
.five{
  grid-area: five;
}
.six{
  grid-area: six;
}
.seven {
  grid-area: seven;
}
.eight {
  grid-area: eight;
}
.nine {
  grid-area: nine;
}
.decimal {
grid-area: decimal;
}
.hex {
  grid-area: hex;
}
.ce {
  grid-area: ce;
}
.thirteeen {
  grid-area: clear;
}
.bin {
  grid-area: bin;
}
.openbracket {
  grid-area: openbracket;
}
.closebracket {
  grid-area: closebracket;
}
.divide {
  grid-area: divide;
}
.plus {
  grid-area: plus;
}
.komma {
  grid-area: komma;
}
.equal {
  grid-area: equal;
}
.A {
  grid-area: A;
}
.B {
  grid-area: B;
}
.C {
  grid-area: C;
}
.D {
  grid-area: D;
}
.E {
  grid-area: E;
}
.F {
  grid-area: F;
}
.multiply {
  grid-area: multiply;
}
.twentyeigth {
  grid-area: minus;
}
.twentynine {
  grid-area: twentynine;
}
.thirty {
  grid-area: thirty;
}
.empty{
  grid-area: empty;
}

  .span2{
    grid-column: 3 / -1;
  }
  /*Makes the button invisible and removes it completely (not rendered and a fixed position on top left of the current html element*/
  .invis{
    visibility: hidden;
    position: fixed;
  }
  .round {
    border-radius: 50%;
  }

  /*Maxes the button size and gives it a nice border*/
  .button-maxed{
    display: inline-block;
    height: 70%;
    width: 70%;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    margin: auto;
    border: none;
    
    border-style:groove
  }
  
  /*Not used anymore*/
  .grid-button:after {
    condecimalt: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
  }
  /*Not used anymore*/
  .grid-button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
  }
  /*Not used anymore*/
  .grid-button:focus {
    outline: 0;
  }
  /*Not used anymore*/
  .display {
    font: 100% Roboto, sans-serif;
    font-size: 8vw;
    text-align: right;
  }
  /*The grid in which everything else is placed*/
  .calculator-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 56px 100px 10vh auto 50px;
    height: 100vh;
    grid-gap: 5px;
    background-color: black;
  }
  
  /*The grid for the decimal mode*/
  .decimal-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    
    grid-template-areas: "ce clear openbracket closebracket"
                          "seven eight nine  divide"
                          "four five six multiply"
                          "one two three minus"
                          "zero komma plus equal"
                          
  }
/*The grid for the hexadecimal mode*/
  .hexadecimal-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    grid-template-areas: 
    "ce clear openbracket closebracket"
    "seven eight nine divide"
    "four five six multiply"
    "one two three minus"
    "zero komma plus equal"
    "A B C D"
    ". E F . "
    
    
  
  
    

  }

  /*The grid for the binary mode*/
  .binary-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    grid-template-areas: 
    "ce clear openbracket closebracket"
    "one divide multiply minus"
    "zero komma plus equal"
    
  }

.page {
  background-color: black;
}

.display{
  background-color: orange;
}
  
#input{
  text-align: right;
  font-size: auto;
  background-color: orange;
  color: black;
  height: 100%;
}

.orangeButton{
  background-color: orange;  
  border: none;
  color: black;  
  font-size: 5.0vw;
}

.grayButton{
  border: none;
  font-size: 5.2vw;
  color: black;
  background-color: gray;
}

.whiteButton{
  border: none;
  font-size: 5.2vw;
  color: black;
  background-color:white
}

.copyButtonMaxed{
  display: inline-block;
  height: 100%;
  width: 100%;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  margin: auto;
  border: none;
  border-style:groove
}


  
  /*# sourceMappingURL=build/css/styles.css.map */