.grid-button {
    font: 100% Roboto, sans-serif;
    font-size: 8vw;
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #2196F3;
    border: none;
    color: white;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }

.zero{
  grid-area: zero;
}
.one{
grid-area: one;
  }
.two{
    grid-area: two;
  }
.three {
    grid-area: three;
  }
.four {
  grid-area: four;
}
.five{
  grid-area: five;
}
.six{
  grid-area: six;
}
.seven {
  grid-area: seven;
}
.eight {
  grid-area: eight;
}
.nine {
  grid-area: nine;
}
.ten {
grid-area: ten;
}
.eleven {
  grid-area: eleven;
}
.twelve {
  grid-area: twelve;
}
.thirteeen {
  grid-area: thirteen;
}
.fourteen {
  grid-area: fourteen;
}
.fifteen {
  grid-area: fifteen;
}
.sixteen {
  grid-area: sixteen;
}
.seventeen {
  grid-area: seventeen;
}
.eighteen {
  grid-area: eighteen;
}
.nineteen {
  grid-area: nineteen;
}
.twenty {
  grid-area: twenty;
}
.twentyone {
  grid-area: twentyone;
}
.twentytwo {
  grid-area: twentytwo;
}
.twentythree {
  grid-area: twentythree;
}
.twentyfour {
  grid-area: twentyfour;
}
.twentyfive {
  grid-area: twentyfive;
}
.twentysix {
  grid-area: twentysix;
}
.twentyseven {
  grid-area: twentyseven;
}
.twentyeigth {
  grid-area: twentyeight;
}
.twentynine {
  grid-area: twentynine;
}
.thirty {
  grid-area: thirty;
}

  .span2{
    grid-column: 3 / -1;
  }
  .invis{
    visibility: hidden;
    position: fixed;
  }

  .button-maxed{
    display: inline-block;
    height: 100%;
    width: 100%;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    border-width:5px;  
    border-style:groove
  }
  
  .grid-button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
  }
  
  .grid-button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
  }
  
  .grid-button:focus {
    outline: 0;
  }
  
  .display {
    font: 100% Roboto, sans-serif;
    font-size: 8vw;
    text-align: right;
  }
  
  .calculator-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 56px 20vh auto 50px;
    height: 100vh;
    grid-gap: 5px;
  }
  
  .decimal-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    grid-template-areas: "ten eleven twelve thirteen"
                          "fourteen fifteen sixteen seventeen"
                          "one two three twentyseven"
                          "four five six twentyeight"
                          "seven eight nine eighteen"
                          "zero nineteen twenty twenty"
  }

  .hexadecimal-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    grid-template-areas: 
    "ten eleven twelve thirteen"
    "fourteen fifteen sixteen seventeen"
    "seven eight nine twentyseven"
    "four five six twentyeight"
    "one two three eighteen"
    "zero nineteen twentyone twentytwo"
    "twentythree twentyfour twentyfive twentysix"
    "twenty twenty twenty twenty"

  }


  
  
  /*# sourceMappingURL=build/css/styles.css.map */