.f7-icons, .framework7-icons {
    padding-right: 3px;
    font-size: 20px
}
.popover{width:200px;}

#input{
    text-align: right;
    font-size: 40px;
    background-color: orange;
    color: black;
    height: 60px;
}
#my-form {
  padding-top: 20px;
}

.card-header{
    color: blue;
    font-weight: bold;
    }
.page{

  background-color: black;
}
  .button-round {
       width: 65px;
       height: 65px;
       border: none;
       border-radius: 100px;
       background-color: color-gray;
       margin: 4px;
       border: none;
       padding: none;
       font-size: 16px;
  }
  .button-round-orange {
       width: 65px;
       height: 65px;
       border: none;
       border-radius: 100px;
       background-color: orange;
       margin:4px;
       border: none;
       padding: none;
       font-size: 16px;
     }
     .button-round-gray {
       width: 65px;
       height: 65px;
       border: none;
       border-radius: 100px;
       background-color: gray;
       margin:4px;
       border: none;
       padding: none;
       font-size: 16px;
  }
     
