
.popover{width:250px;}


#my-form {
  padding-top: 30px;
}

.card-header{
    color: blue;
    font-weight: bold;
    }
/*.page{

  background-color: black;
}*/
.row {
       margin-bottom: 4px;
       padding: 4px; 
  }
  .button
  {
       font-size: 16px;
  }
#input{
      text-align: right; 
      border-width: thin;
      height: 50px;
      font-size: 30px;
      color: #000; /*black*/
      }

  .div[class* = "col-"] {
        background: #ff3b30;
        text-align: center;
        color: #ff3b30;
        border: 1px solid #D8D8D8;
  }
   
  
